* {
	cursor: url('cursor.png'), pointer;
}
.interactive {
	cursor: url('cursor-2.png'), pointer;
}
#particles-js {
	background-color: black;
	 margin: 0px;
	 height: 100vh;
	 width: 100%;
}
#logo {
	position: absolute;
	width: 50%;
	top: 15%;
}
#tagline {
	position: absolute;
	top: 60%;
	left: 60%;
	margin: 0px;
	color: white;
	text-align: right;  
	font-size: 6vw;
	font-family: 'VT323', monospace;
}
.section-header {
	font-size: 10vw;
	color: transparent;
	font-weight: normal;
	font-family: 'VT323', monospace;
	letter-spacing: 3px;
	-webkit-text-stroke: 3px rgba(255, 255, 255, 0.9);
	margin: 2vh;
}
.portfolio-item {
	max-width: min-content;
	transform: perspective(1000px);
	transform-style: preserve-3d;
	margin: 5vh;
}
.offset {
	margin-top: 4vw;
}
.portfolio-image {
	height: 40vw;
}
.portfolio-item-description {
	color: white;
	margin: 0px;
	position: absolute;
	top:50%; 
	left: -20%;
	transform: translateZ(100px);
	font-family: 'Montserrat', sans-serif;
}
.portfolio-tite {
	font-size: 3vw;
	color: #fdd137;
	margin: 0px;
}
.portfolio-subtitle {
	font-size: 1vw;
	float: right;
	margin: 0px;
}

@media only screen and (max-width: 600px) {
 	#logo {
		width: 75%;
		top: 20%;
	}
	#tagline {  
		color: #fdd137;
		left: 35%;
		top: 70%;
		font-size: 12vw;
	}
	.section-header {
		font-size: 10vw;
		-webkit-text-stroke: 1px rgba(255, 255, 255, 0.9);
	}
	.portfolio-item {
		margin: 2vh;
	}
	.portfolio-image {
		height: 90vw;
	}
	.portfolio-tite {
		font-size: 6vw;
	}
	.portfolio-subtitle {
		font-size: 3vw;
	}
	.offset {
		margin-top: 0;
	}
}

#btn-close-modal {
    width:100%;
    text-align: center;
    cursor:pointer;
    color:#fff;
    margin-top: 40px !important;
}
.closebt {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor:pointer;
}
.closebt:hover {
    transform: rotate(90deg);
    transform: all 0.2s;
}