/**************************************** 
	Author: Creatix Developers			*
	Email: creatixdevelopers@gmail.com  *
	Last Updated: 02-09-2021 			*
****************************************/

/**************************************** 
	1. Common Styles					*
	2. Custom Scrollbar					*
	3. Preloader                        *
	4. Main Banner						*
	5. What We Do 						*
	6. Clientile						*
	7. Who We are						*
	8. Modal Styles	                    *
	9. Modal Video Styles				*
	10. Media Queries 					*
*****************************************/

/********* START COMMON STYLES **********/
* {
	cursor: url('../assets/cursor.png'), pointer;
}
.interactive {
	cursor: url('../assets/cursor-2.png'), pointer;
}
::-moz-selection { /* Code for Firefox */
  color: black;
  background: #fed137;
}

::selection {
  color: black;
  background: #fed137;
}
.navShape {
	margin: 0 auto;
	background: #fed137;
	animation: morph1 8s ease-in-out infinite;
	border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	height: 6rem;
	transition: all 1s ease-in-out;
	width: 6rem;
}
body {
	margin: 0px;
	background-color: black !important;
	overflow-x: hidden;
}
.p {
	font-size: 115%;
}
.section_title {
	font-size: 15vh;
	margin-left: 5vh;
}
.section_text {
	font-size: 4vh; 
	margin: 5vh;
}
li{
	font-size: 4vh !important; 
	margin-left: 5vh;
}
.kaomoji {
	font-size: 8vh; 
	margin-left: 5vh; 
	padding-bottom: 5vh;
	text-align: center;
}
.white_background {
	background-color: white;
	background-image: radial-gradient(grey 1px, transparent 0);
	background-size: 40px 40px; 
	font-family: 'Montserrat', sans-serif;
}
.black_background {
	background-color: black; 
	background-image: radial-gradient(grey 1px, transparent 0); 
	background-size: 40px 40px; 
	font-family: 'Montserrat', sans-serif; 
	color: white;
}
/********* END COMMON STYLES **********/


/********* CUSTOM SCROLLBAR **********/
::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: #fed136; 
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #fed136; 
}
/********* END CUSTOM SCROLLBAR **********/

/********* START PRELOADER **********/

/********* END PRELOADER **********/
#preloaderLogo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
#loading {
	margin-left: 0px;
	width: 0px; 
	height: 0px; 
	background-color: #fed137;
}
#cutLogo {
	max-width: 75vw;
	height: auto;
}
#preloaderDance {
	color: #fed137;
}
#preloaderDance {
	position: fixed;
	bottom: 10px;
	width: 100%;
	margin: 0 auto;
}
#dance {
	margin: 0px;
	font-size: 30px;
	text-align: center;
}

/********* START MAIN BANNER **********/
#particles-js {
	background-color: black;
	margin: 0px;
	height: 100vh;
	width: 100%;
}
#logo {
	position: absolute;
	width: 50%;
	top: 15%;
}
#tagline {
	position: absolute;
	top: 60%;
	left: 60%;
	margin: 0px;
	color: white;
	text-align: right;  
	font-size: 6vw;
	font-family: 'VT323', monospace;
	line-height: 0.8
}
.magnet {
	display: inline-block;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	transition: all .5s ease;
}
/********* END MAIN BANNER **********/


/********* START WHAT WE DO **********/
.card-container {
	margin: 0 10% !important;
}
.glass_card {
	border-radius: 15px;
	background: rgba(255,255,255,0.1); 
	border-top: 1px solid rgba(255,255,255,0.5); 
	border-left: 1px solid rgba(255,255,255,0.5); 
	/*backdrop-filter: blur(3px); */
	padding:2rem;  
	text-align: center; 
	transform-style: preserve-3d; 
	transform: perspective(1000px); 
	margin-top:50px;
	color: white;
}
.card_title {
	font-size: 10vh;
	word-break: break-word;
	font-family: 'VT323', monospace;
}
.card_btn {
	border-radius: 25px !important;
	transform: translateZ(30px);
}
.card_btn:hover {
	cursor: url('../assets/cursor-2.png'), pointer !important;
	transform: scale(1.1);
}
.project {
	max-width:80%; 
	margin: 0 auto;
}
.project .project-text {
	margin-top: 20%;
	align-items: center; 
	color: white; 
	font-size: 3vh;
}
.portfolioModalButton {
	outline: none !important;
}
.category_content {
	display: none;
}
/********* END WHAT WE DO **********/


/********* START CLIENTILE  **********/
.owl-carousel {
	margin: 0 auto; 
}
.owl-carousel .item {
	width: min-content;
}
.owl-carousel .owl-stage {
	display: flex;
	align-items: center;
}
.owl-item {
	display: flex !important;
	align-items: center !important;
	flex-direction: column !important;
}
.owl-prev, .owl-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: block !important;
	border:0px solid white !important;
	border-radius: 50% !important;
	outline: none !important;
}
.owl-prev:hover, .owl-next:hover {
	background: transparent !important;
}
.owl-prev { 
  	left: -30%; 
}
.owl-next { 
  	right: -25%; 
}
/********* END CLIENTILE  **********/


/********* START WHO WE ARE  **********/
.team-member {
	text-align: center;
}
.team-member h3 {
	font-weight: bold;
}
.team-member img {
	width: 14rem;
	height: 14rem;
}
#shape1 {
	margin: 0 auto;
	background: #fed137;
	animation: morph1 8s ease-in-out infinite;
	border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	height: 15rem;
	transition: all 1s ease-in-out;
	width: 15rem;
}
@keyframes morph1 {
	0% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	}
	50% {
		border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
	}
	100% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	}
}
#shape2 {
	margin: 0 auto;
	background: #fed137;
	animation: morph2 8s ease-in-out infinite;
	border-radius: 40% 60% 70% 30% / 30% 60% 40% 70%;
	height: 15rem;
	transition: all 1s ease-in-out;
	width: 15rem;
}
@keyframes morph2 {
	0% {
		border-radius: 40% 60% 70% 30% / 30% 60% 40% 70%;
	}
	50% {
		border-radius: 70% 50% 80% 70% / 60% 30% 70% 60%;
	}
	100% {
		border-radius: 40% 60% 70% 30% / 30% 60% 40% 70%;
	}
}
#shape3 {
	margin: 0 auto;
	background: #fed137;
	animation: morph3 8s ease-in-out infinite;
	border-radius: 70% 60% 50% 30% / 30% 50% 60% 70%;
	height: 15rem;
	transition: all 1s ease-in-out;
	width: 15rem;
}
@keyframes morph3 {
	0% {
		border-radius: 70% 60% 50% 30% / 30% 50% 60% 70%;
	}
	50% {
		border-radius: 70% 50% 20% 70% / 60% 30% 70% 60%;
	}
	100% {
		border-radius: 70% 60% 50% 30% / 30% 50% 60% 70%;
	}
}
.number {
	text-decoration: none;
	outline: none;
	color: white;
}
.number:hover {
	color: white;
}
#email {
	margin: 2rem;
	text-decoration: none;
	outline: none;
	text-align: center; 
	font-size: 4vh;
	color: #fed137;
}
/********* END WHO WE ARE  **********/


/********* START MODAL STYLES **********/
.project {
	max-width: 80% !important; 
}
.modal-content .section_title {
	text-align: center;
	font-family: 'VT323', monospace; 
	color: white;
}
.portfolio-item {
	max-width: min-content;
	transform: perspective(1000px);
	transform-style: preserve-3d;
	margin: 5vh;
}
.modal-title {
	text-align: center;
	font-family: 'VT323', monospace; 
	color: white;
}
.offset {
	margin-top: 4vw;
}
.portfolio-image {
	height: 40vw;
}
.portfolio-item-description {
	color: white;
	margin: 0px;
	position: absolute;
	top: 50%; 
	left: -10%;
	transform: translateZ(100px);
	font-family: 'Montserrat', sans-serif;
}
.btn-outline-warning {
	color: #212529;
	background-color: #fed136;
	border-radius: 35px !important;
	border: 1px solid #fed136;
	margin-top: 15px;   
}
@media only screen and (max-width: 600px) {
	.btn-outline-warning {
		width: 100%;
		margin-bottom: 15px;
	}
}
.portfolio-title {
	font-size: 3vw;
	color: #fed137;
	margin: 0px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
	padding: 0 5px;
}
.portfolio-subtitle {
	font-size: 1vw;
	float: right;
	margin: 0px;
}
#btn-close-modal {
	width:100%;
	text-align: center;
	cursor: url('../assets/cursor-2.png'), pointer !important;
	color:#fff;
	margin-top: 40px !important;
}
.closebt {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	cursor: url('../assets/cursor-2.png'), pointer;
}
.closebt:hover {
	transform: rotate(90deg);
	transform: all 0.2s;
	cursor: url('../assets/cursor-2.png'), pointer;
}
.description{
	text-align: center;
    font-family: 'VT323', monospace;
	color: white;
	font-size: 4vh;
	max-width: 80%;
	margin: 0 auto;
	margin-bottom: 5%;
}
/********* END MODAL STYLES **********/


/********* START MODAL VIDEO STYLES **********/
.latest {
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 20px ;
}
@media (max-width: 880px) {
	.latest {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.latest .latest-box {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 350px;
	position: relative;
}

.latest .play-btn {
	width: 94px;
	height: 94px;
	background: radial-gradient(#fed136 50%, rgba(255, 176, 59, 0.4) 52%);
	border-radius: 50%;
	display: block;
	position: absolute;
	left: calc(50% - 47px);
	top: calc(50% - 47px);
	overflow: hidden;
}

.latest .play-btn::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-40%) translateY(-50%);
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #fff;
	z-index: 100;
	transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.latest .play-btn::before {
	content: '';
	position: absolute;
	width: 120px;
	height: 120px;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation: pulsate-btn 2s;
	animation: pulsate-btn 2s;
	-webkit-animation-direction: forwards;
	animation-direction: forwards;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: steps;
	animation-timing-function: steps;
	opacity: 1;
	border-radius: 50%;
	border: 5px solid rgba(216, 155, 144, 0.7);
	top: -15%;
	left: -15%;
	background: rgba(198, 16, 0, 0);
}

.latest .play-btn:hover::after {
	border-left: 15px solid #fed136;
	transform: scale(20);
}

.latest .play-btn:hover::before {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-40%) translateY(-50%);
	width: 0;
	height: 0;
	border: none;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #fff;
	z-index: 200;
	-webkit-animation: none;
	animation: none;
	border-radius: 0;
}

@media (max-width: 1024px) {
	.latest .content,
	.latest .accordion-list {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 992px) {
	.latest .content {
		padding-top: 30px;
	}
	.latest .accordion-list {
		padding-bottom: 30px;
	}
}

@-webkit-keyframes pulsate-btn {
	0% {
		transform: scale(0.6, 0.6);
		opacity: 1;
	}
	100% {
		transform: scale(1, 1);
		opacity: 0;
	}
}

@keyframes pulsate-btn {
	0% {
		transform: scale(0.6, 0.6);
		opacity: 1;
	}
	100% {
		transform: scale(1, 1);
		opacity: 0;
	}
}
/********* END MODAL VIDEO STYLES **********/


/********* START MEDIA QUERIES **********/
@media only screen and (max-width: 600px) {
	#logo {
		width: 75%;
		top: 20%;
	}
	#tagline {  
		color: #fed136;
		left: 30%;
		top: 70%;
		font-size: 12vw;
		margin-right: 20px; 
	}
	.section_title {
		font-size: 7vh;
		margin-right: 5vh;
	}
	.section_text {
		font-size: 3vh; 
		margin: 5vh;
	}
	.kaomoji {
		font-size: 4vh; 
		margin-right: 5vh;
	}
	.card-container {
		margin: 0 5% !important;
	}
	.card_title {
		font-size: 7vh;
	}
	.card_text {
		font-size: 2vh;
	}
	.navShape {
		height: 2rem;
		width: 2rem;
	}
	.owl-prev img, .owl-next img{
		width: 32px;
	}
	#email {
		font-size: 3vh;
	}
	.reorder {
		display: flex;
		flex-direction: column-reverse;
	}
	.project {
		margin-top: 40px;
	}
	.portfolio-item {
		margin: 2.5vh;
		float: right;
	}
	.portfolio-image {
		height: 90vw;
	}
	.portfolio-title {
		font-size: 6vw;
		font-weight: bold;
	}
	.portfolio-subtitle {
		font-size: 3vw;
	}
	.project .project-text {
		font-size: 2.4vh;
		margin-top: 5px;
	}
	.offset {
		margin-top: 0;
	}
}
/********* END MEDIA QUERIES **********/